@import "tailwindcss";

body{
    background-color: #131313;
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    color:white;
    font-family: "Spline Sans Mono", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* purple-bg-color = 111827 */
